<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Titulo da página -->
    <title>Universidade Lusiada de Angola</title>
    <!-- Icon da página -->
    <link rel="shortcut icon" type="image/icon" href="../../assets/img/icon/logo.png">
    <!-- Css do preloader -->
    <link rel="stylesheet" href="../../packages/outros/css/preloader/css-preloader.css">
    <!-- Css do bootstrap -->
    <link rel="stylesheet" href="../../packages/bootstrap/Bootstrap-v4.1.3/css/bootstrap.min.css">
    <!-- Css do font-awesome -->
    <link rel="stylesheet" href="../../packages/font-awesome/font-awesome.min.css">    
    <!-- Css do imagehover -->
    <link rel="stylesheet" href="packages/imagehover/imagehover.min.css">
    <!-- Css do owl-carousel -->
    <link rel="stylesheet" href="../../packages/owl-carousel/css/owl.carousel.min.css">
    <!-- Css do ionicons -->
    <link rel="stylesheet" href="../../packages/font/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../packages/font/icomoon/css/icomoon.css">
    <!-- Css do index -->
    <link rel="stylesheet" href="../../packages/outros/css/sobre/css-prof.css">
</head>
<body>
    <!-- Preloader da página -->
    <div id="preloader">
        <div class="circle">
            <img src="../../assets/img/logo/logo.png" alt="" id="imgPreloader">
        </div>
    </div>
    <!-- Menu de navegação da página -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3" id="panel-navegacao">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#inicio" id="titulo">ULA</a>
            <span class="navbar" id="subtitulo">Universidade Lusiada de Angola</span>
            <div class="circular-perfil">
                <div class="img-circular-perfil"> <a href="../login" id="BtnPerfil"><img src="../../assets/img/perfil/perfil.png" alt=""></a>  </div>
           </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-navegacao" aria-controls="menu-navegacao" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu-navegacao">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../area-formacao/index.html">Área de formação</a></li>                    
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../noticias/index.html">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../galeria/index.html">Galeria</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="area-sobre">Sobre</a>
                        <div class="dropdown-menu lista-area">
                            <a class="nav-link js-scroll-trigger dropdown-item" href="ula.html">ULA</a>                            
                            <a class="nav-link js-scroll-trigger dropdown-item" id="lblProf" href="prof.html">Professores</a>
                            <a class="nav-link js-scroll-trigger dropdown-item" href="contacto.html">Contactos</a>                            
                        </div>
                    </li>                                                           
                </ul>
            </div>
        </div>
    </nav>
    <!-- Panel de apresentação da página -->
    <header class="masthead" style="background-image: url('../../assets/img/area-sobre/prof/Panel/quadro.jpg');">
        <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>ULA</h1>
                            <span class="subheading">Sobre os Professores</span>
                        </div>
                    </div>
                    <a href="#apresentacao" class="mouse-hover js-scroll-trigger"><div class="mouse"></div></a>                    
                </div>
            </div>        
    </header>
    <!-- Apresentação -->
    <section id="apresentacao">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="detalhes text-center">
                        <img src="../../assets/img/pequenos/professor.png" alt="" id="img-detalhe">
                        <h2>Professores do ULA</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fuga dicta corrupti facere mollitia odio aliquam. Blanditiis accusantium, fugiat eum nulla eaque vel officiis consectetur optio quidem. Laborum, recusandae reprehenderit!
                        </p>
                    </div>
                    <hr class="bottom-line">
                </div>
            </div>
        </div>
    </section><br><br><br>
    <!-- Sobre os Professores -->
    <div class="fh5co-staff">
        <div class="container">
            <div class="row">

                <div class="col-md-3 text-center">
                    <div class="staff">
                        <div class="staff-img" style="background-image: url(../../assets/img/area-sobre/prof/2.jpeg);">
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
								<li><a href="#"><i class="icon-twitter2"></i></a></li>
								<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								<li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                        <h3><a>...</a></h3>
                        <span>Professor</span>
                        <p>
                            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="staff">
                        <div class="staff-img" style="background-image: url(../../assets/img/area-sobre/prof/3.jpeg);">
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
								<li><a href="#"><i class="icon-twitter2"></i></a></li>
								<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								<li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                        <h3><a>...</a></h3>
                        <span>Professor</span>
                        <p>
                            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-md-3 text-center">
                    <div class="staff">
                        <div class="staff-img" style="background-image: url(../../assets/img/area-sobre/prof/3.jpeg);">
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
								<li><a href="#"><i class="icon-twitter2"></i></a></li>
								<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								<li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                        <h3><a>...</a></h3>
                        <span>Professor</span>
                        <p>
                            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                        </p>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div><br><br><br>
    <!-- Fim footer -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url('../../assets/img/index/Panel/escola-ULA.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="d-flex flex-wrap mb-100">
                  <div class="footer-widget">
                    <div class="widget-title">
                      <h6 class="tituloFooter">ULA</h6>
                    </div>
                    <div class="panelLogoFooter">
                      <img class="logoFooter" src="../../assets/img/logo/logo.png" alt="">
                    </div>
                  </div><br>
                  <div class="copywrite-text">
                    <p>Copyright &copy; 2022 Todos os direitos reservados <i class="fa fa-home" aria-hidden="true"></i></p>
                  </div>
                </div>
              </div>
              <!-- Localização -->
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget mb-100">
                  <div class="widget-title">
                    <h6>Nos contate</h6>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>Endereço:</p>
                    <span>Mutamba <br> </span>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>Telefone:</p>
                    <span>+244 985-963-524 <br>+244 951-256-437</span>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>E-mail:</p>
                    <span>ULA2022@gmail.com</span>
                  </div>
                </div>
              </div>
              <!-- Sobre-1 -->
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget mb-100">
                  <div class="widget-title">
                    <h6>Por que Nos Escolhe?</h6>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod totam animi laborum necessitatibus tenetur ab quas culpa quam earum enim, eveniet sint voluptatum explicabo temporibus dolorem? Ipsum deleniti quam debitis.</p>
                  <!-- Redes sociais -->
                  <div class="widget-title">
                    <h6>Redes sociais</h6>
                  </div>
                  <div class="footer-social-info">
                    <a href="#"><img src="../../assets/img/pequenos/rede-social/Facebook.Png" alt=""></a>                  
                    <a href="#"><img src="../../assets/img/pequenos/rede-social/Instagram.Png" alt=""></a>                  
                    <a href="#"><img src="../../assets/img/pequenos/rede-social/LinkedIn.Png" alt=""></a>                  
                    <a href="#"><img src="../../assets/img/pequenos/rede-social/Telegram.Png" alt=""></a>
                  </div>
                </div>
              </div>
              <!-- Sobre-2 -->
     
            </div>
          </div>
        </div>
      </footer>
      <!--!> Modal de Erros & Avisos <!-->
  <div class="modal fade" id="modalAviso" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <img src="../../assets/img/pequenos/35/Lock_.png" alt="">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <h5 id="lbl-titulo">Aviso</h5>
            <p id="lbl-texto">As inscrições encontram-se encerradas!</p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <!-- Script's da página -->
    <!-- jquery-3.3.1 -->
    <script src="../../packages/jquery/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <!-- bootstrap-v4.1.3 -->
    <script src="../../packages/bootstrap/Bootstrap-v4.1.3/js/bootstrap.min.js"></script>
    <!-- Preloader -->
    <script src="../../packages/outros/js/preloader/js-preloader.js"></script>
    <!-- jquery.easing para animação -->
    <script src="../../packages/jquery/jquery.easing/jquery.easing-1.4.1/jquery.easing.min.js"></script>
    <script src="../../packages/outros/js/animacao/animacao.js"></script>
    <!-- creative para animação -->
    <script src="../../packages/bootstrap/Bootstrap-v4.3.0/js/creative.min.js"></script>    
    <!-- owl-carousel -->
    <script src="../../packages/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- stellar -->
    <script src="../../packages/stellar/stellar.js"></script>
    <!-- nice-select -->
    <script src="../../packages/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- ajaxchimp -->
    <script src="../../packages/ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <!-- counter-up -->
    <script src="../../packages/counterup/jquery.counterup.js"></script>
    <!-- swiper -->
    <script src="../../packages/swiper/swiper.min.js"></script>
    <!-- mCustomScrollbar -->
    <script src="../../packages/customscrollbar/jquery.mCustomScrollbar.js"></script>
    <!-- Theme -->
    <script src="../../packages/theme/theme.js"></script>
    <!-- waypoints -->
    <script src="../../packages/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../packages/aos/aos.js"></script>
    <script src="../../packages/aos/main.js"></script> 
    <script>
        $(document).ready(function(){

        var dataServidor = 0;
        function buscarDataServidor( e) 
        {
            var opcao = "buscarDataServidor";
            $.ajax({
                type:"get",
                url:"../../controllers/controller-ano-leitivo/ctrl-ano-lectivo.php",
                data:{opcao:opcao },
                success:function(data)
                {
                e(data);
                }
            });
        }

        function actualizarEstadoInscricaoPendente(dataServidor, e)  
        {          
          var opcao = "actualizarEstadoInscricaoPendente";
          $.ajax({
            type:"get",
            url:"../../controllers/controller-abertura-fechamentoinscricao/ctrl-abertura-fechamentoinscricao.php",
            data:{ dataServidor:dataServidor, opcao:opcao },
            success:function(data)
            {
              e(data);
            }
          });
        }        
        
        $("#btn-inscricao").click(function(e){
            e.preventDefault();
            
          buscarDataServidor(e=>{
            dataServidor = e;     
                        
            actualizarEstadoInscricaoPendente(dataServidor,resultado=>
            {               
                if(resultado == "inscricao-aberta") location.href="../inscricao";               

                else  $("#modalAviso").modal("show");                           
            });
          });
        });

        //$("#inscricao").prop("hidden",false); 
        });
    </script>        
</body>
</html>