<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Titulo da página -->
    <title>Universidade Lusiada de Angola</title>
    <!-- Icon da página -->
    <link rel="shortcut icon" type="image/icon" href="../../assets/img/icon/logo.png">
    <!-- Css do preloader -->
    <link rel="stylesheet" href="../../packages/outros/css/preloader/css-preloader.css">
    <!-- Css do bootstrap -->
    <link rel="stylesheet" href="../../packages/bootstrap/Bootstrap-v4.1.3/css/bootstrap.min.css">
    <!-- Css do font-awesome -->
    <link rel="stylesheet" href="../../packages/font-awesome/font-awesome.min.css">    
    <!-- Css do imagehover -->
    <link rel="stylesheet" href="../../packages/imagehover/imagehover.min.css">
    <!-- Css do owl-carousel -->
    <link rel="stylesheet" href="../../packages/owl-carousel/css/owl.carousel.min.css">
    <!-- Css do index -->
    <link rel="stylesheet" href="../../packages/outros/css/area-formacao/css-palono-curricular-curso.css">
</head>
<body id="inicio">
    <!-- Preloader da página -->
    <div id="preloader">
        <div class="circle">
            <img src="../../assets/img/logo/logo.png" alt="" id="imgPreloader">
        </div>
    </div>
    <!-- Menu de navegação da página -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3" id="panel-navegacao">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#inicio" id="titulo">ULA</a>
            <span class="navbar" id="subtitulo">Universidade Lusiada de Angola</span>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-navegacao" aria-controls="menu-navegacao" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu-navegacao">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../area-formacao/index.html">Área de formação</a></li>                                        
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../noticias/index.html">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../galeria/index.html">Galeria</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="area-sobre">Sobre</a>
                        <div class="dropdown-menu lista-area">
                            <a class="nav-link js-scroll-trigger dropdown-item" href="../sobre/ula.html">ULA</a>                            
                            <a class="nav-link js-scroll-trigger dropdown-item" href="../sobre/prof.html">Professores</a>
                            <a class="nav-link js-scroll-trigger dropdown-item" href="../sobre/contacto.html">Contactos</a>                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Panel de apresentação da página -->
    <header class="masthead" style="background-image: url('../../assets/img/area-formacao/plano-curricular-curso/Panel/mesa.jpg');">
        <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>ULA</h1>
                            <span class="subheading">Plano curricular do curso</span>
                        </div>
                    </div>
                    <a href="#apresentacao" class="mouse-hover js-scroll-trigger"><div class="mouse"></div></a>
                </div>
            </div>        
    </header>
    <!-- Apresentação -->
    <section id="apresentacao">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="detalhes text-center">
                        <!-- > <img src="assets/img/pequenos/escola.png" alt="" id="img-detalhe"><!-->
                        <h2>Engenharia Informatica</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed laborum omnis cum ut sit nesciunt ipsam ratione accusantium dolores. Et optio corporis perferendis eaque odit labore dolores magnam officiis sint!                            
                        </p>
                    </div>
                    <hr class="bottom-line">
                </div>
            </div>
        </div>
    </section><br><br><br>
    <section>
      
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 padleft-right">
                    <div class="quadrado">
                        <h3 class="titulo-ano">1º ANO</h3> <br>
                        <h6 class="" style="color: #EC8028;">1º Semestre</h6> <br>
                        <div class="disciplinas">
                            <p>Metodologia de Investigação Cientifica</p><hr class="linha">
                            <p>Análise Matemática I</p><hr class="linha">
                            <p>Ingles Técnico I</p><hr class="linha">
                            <p>Introdução a Informática</p><hr class="linha">
                            <p>Física I</p><hr class="linha">
                            <p>Fundamentos de Programação I</p><hr class="linha">

                            <h6 class="" style="color: #EC8028;">2º Semestre</h6> <br>
                            <p>Análise Matemática II</p><hr class="linha">
                            <p>Ingles Técnico II</p><hr class="linha">
                            <p>Arquitéctura de Computadores I</p><hr class="linha">
                            <p>Física II</p><hr class="linha">
                            <p>Fundamentos de Programação II</p><hr class="linha">                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 padleft-right">
                    <div class="quadrado">
                        <h3 class="titulo-ano">2º ANO</h3> <br>
                        <h6 class="" style="color: #EC8028;">1º Semestre</h6> <br>
                        <div class="disciplinas">
                            <p>Fundamentos de Programação III</p><hr class="linha">
                            <p>Estatistica</p><hr class="linha">
                            <p>Base de Dados I</p><hr class="linha">
                            <p>Arquitéctura de Computadores II</p><hr class="linha">
                            <p>Probabilidade</p><hr class="linha">
                            <p>Sistemas Operativos</p><hr class="linha">

                            <h6 class="" style="color: #EC8028;">2º Semestre</h6> <br>
                            <p>Sistemas Digitais</p><hr class="linha">
                            <p>Algoritimo e Estrutura de Dados</p><hr class="linha">
                            <p>Base de Dados II</p><hr class="linha">
                            <p>Introdução a Gestão</p><hr class="linha">
                            <p>Engenharia de Redes I</p><hr class="linha">
                            <p>Matemática Discreta</p><hr class="linha">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 padleft-right">
                    <div class="quadrado">
                        <h3 class="titulo-ano">3º ANO</h3> <br>
                        <h6 class="" style="color: #EC8028;">1º Semestre</h6> <br>
                        <div class="disciplinas">
                            <p>Aplicação Informáticos</p><hr class="linha">
                            <p>Sistemas Distribuídos e Paralelos I</p><hr class="linha">
                            <p>Planeamento Estratégico de S.I</p><hr class="linha">
                            <p>Computação Gráfica</p><hr class="linha">
                            <p>Engenharia de Redes II</p><hr class="linha">
                            <p>Engenharia de Software</p><hr class="linha">

                            <h6 class="" style="color: #EC8028;">2º Semestre</h6> <br>
                            <p>Sistemas Inteligentes</p><hr class="linha">
                            <p>Sistemas Distribuídos II</p><hr class="linha">
                            <p>Gestão de Sistemas e Redes</p><hr class="linha">
                            <p>Gestão de Org. Empresas</p><hr class="linha">
                            <p>Análise de Sistemas</p><hr class="linha">
                            <p>Hígiene e Segurança no Trabalho</p><hr class="linha">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 padleft-right">
                    <div class="quadrado">
                        <h3 class="titulo-ano">4º ANO</h3> <br>
                        <h6 class="" style="color: #EC8028;">1º Semestre</h6> <br>
                        <div class="disciplinas">
                            <p>Noções e Fundamentais do Direito</p><hr class="linha">
                            <p>Gestão de Projectos Informáticos</p><hr class="linha">
                            <p>Redes de Alto Debito</p><hr class="linha">
                            <p>Qualidade de S.I</p><hr class="linha">
                            <p>Telecomunicação I</p><hr class="linha">                            

                            <h6 class="" style="color: #EC8028;">2º Semestre</h6> <br>
                            <p>Telecomunicação II</p><hr class="linha">
                            <p>Comério Electrónico </p><hr class="linha">
                            <p>Ética e Deontologia Profissional</p><hr class="linha">
                            <p>Auditoria Informática</p><hr class="linha">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 padleft-right">
                  <div class="quadrado">
                      <h3 class="titulo-ano">5º ANO</h3> <br>
                      <h6 class="" style="color: #EC8028;">1º Semestre</h6> <br>
                      <div class="disciplinas">
                          <p>Tópicos Especiais </p><hr class="linha">
                          <p>Estágio Supervisionado</p><hr class="linha">
                          <p>Trabalho de Fim de Curso I</p><hr class="linha">
                          <p>Empreendedorismo e Inovação</p><hr class="linha">
                          <p>Telecomunicação I</p><hr class="linha">                            

                          <h6 class="" style="color: #EC8028;">2º Semestre</h6> <br>
                          <p>Trabalho de Fim de Curso II</p><hr class="linha">                          
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section><br><br><br><br>
    <!-- Fim footer -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url('../../assets/img/index/Panel/escola-ULA.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="d-flex flex-wrap mb-100">
                  <div class="footer-widget">
                    <div class="widget-title">
                      <h6 class="tituloFooter">ULA</h6>
                    </div>
                    <div class="panelLogoFooter">
                      <img class="logoFooter" src="../../assets/img/logo/logo.png" alt="">
                    </div>
                  </div><br>
                  <div class="copywrite-text">
                    <p>Copyright &copy; 2022 Todos os direitos reservados <i class="fa fa-home" aria-hidden="true"></i></p>
                  </div>
                </div>
              </div>
              <!-- Localização -->
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget mb-100">
                  <div class="widget-title">
                    <h6>Nos contate</h6>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>Endereço:</p>
                    <span>Mutamba <br> </span>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>Telefone:</p>
                    <span>+244 985-963-524 <br>+244 951-256-437</span>
                  </div>
                  <div class="single-contact-area mb-30">
                    <p>E-mail:</p>
                    <span>ULA2022@gmail.com</span>
                  </div>
                </div>
              </div>
              <!-- Sobre-1 -->
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget mb-100">
                  <div class="widget-title">
                    <h6>Por que Nos Escolhe?</h6>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod totam animi laborum necessitatibus tenetur ab quas culpa quam earum enim, eveniet sint voluptatum explicabo temporibus dolorem? Ipsum deleniti quam debitis.</p>
                  <!-- Redes sociais -->
                  <div class="widget-title">
                    <h6>Redes sociais</h6>
                  </div>
                  <div class="footer-social-info">
                  <a href="#"><img src="../../assets/img/pequenos/rede-social/Facebook.Png" alt=""></a>                  
                  <a href="#"><img src="../../assets/img/pequenos/rede-social/Instagram.Png" alt=""></a>                  
                  <a href="#"><img src="../../assets/img/pequenos/rede-social/LinkedIn.Png" alt=""></a>                  
                  <a href="#"><img src="../../assets/img/pequenos/rede-social/Telegram.Png" alt=""></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </footer>
    <!-- Script's da página -->
    <!-- jquery-3.3.1 -->
    <script src="../../packages/jquery/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <!-- bootstrap-v4.1.3 -->
    <script src="../../packages/bootstrap/Bootstrap-v4.1.3/js/bootstrap.min.js"></script>
    <!-- Preloader -->
    <script src="../../packages/outros/js/preloader/js-preloader.js"></script>
    <!-- jquery.easing para animação -->
    <script src="../../packages/jquery/jquery.easing/jquery.easing-1.4.1/jquery.easing.min.js"></script>
    <script src="../../packages/outros/js/animacao/animacao.js"></script>
    <!-- creative para animação -->
    <script src="../../packages/bootstrap/Bootstrap-v4.3.0/js/creative.min.js"></script>
    <!-- aos -->
    <script src="../../packages/aos/aos.js"></script>
    <script src="../../packages/aos/main.js"></script>      
</body>
</html>